<div>
    <div>
        <h4>Agregar un libro</h4>
        <form action="/admin/agregar" method="post">
            <table>
                <thead>
                    <tr>
                        <th>
                            Titulo
                        </th> 
                        <th>
                            Sub Titulo
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" placeholder="Sub titulo" name="subtitulo">
                        </td> 
                        <td>
                            <input type="text" placeholder="Titulo" name="titulo">
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>